<h2 id="title" data-test={{hook "title"}}>Ember Hook</h2>

{{test-component hook="component-hook" text="Component"}}

{{alphabet-component}}

<p data-test={{hook "half"}}>half</p>
<p data-test={{hook "half_and_half"}}>half and half</p>
